<%= form_tag "/places" do %>

  <p>
    <%= label_tag "Title" %>
    <%= text_field_tag "Title" %>
  </p>

  <p>
    <%= label_tag "Photo Link" %>
    <%= text_field_tag "Photo Link" %>
  </p>

  <p>
    <%= label_tag "Description" %>
    <%= text_field_tag "Description" %>
  </p>

  <p>
      <%= submit_tag %>
  </p>

<% end %>
